:root {
    --bg-core: #051005;
    --bg-panel: #0a1a0a;
    --border-color: #1a331a;
    --text-head: #ffffff;
    --text-body: #bbbbbb;
    --text-dim: #666666;
    --bg-pattern: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(0, 255, 0, 0.03) 10px, rgba(0, 255, 0, 0.03) 11px);
}